@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

body {
    width: 98vw;
    height: 100vh;
}

header {
    width: 98vw;
    height: 35px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: stretch;
    
}

#logoyoutube {
    width: 90px;
    height: 20px;
    padding: 0px 24px 0px 24px;
    

}

#search {
    display: flex;
    width: 350px;
    min-width: 50px;
    align-items: center; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
}

#ipesquisa {
    border: none; 
    outline: none; 
    flex: 1;
    height: 25px;
}


.separator {
    border-right: 1px solid #ccc; /* Adiciona um traço entre o campo de pesquisa e o ícone */
    height: 100%; /* Faz com que a altura do separador seja igual à altura do contêiner */
    margin: 0 5px; /* Adiciona uma margem para espaçamento */
}

#icons {
    width: 12vw;
    display: flex;
    justify-content: space-around;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#tamanho {
    width: 800px;
    display: inline-block;
}



main p {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

#opcoes p, #opcoes img {
    display: inline-block;
    vertical-align: middle;
}

#inscrever {
    background-color: red;
    border-radius: 2px;
    color: white;
    width: 159px;
    height: 40px;
}

#like {
    border: none;
}
#dislike {
    border: none;
}
#compartilhar {
    border: none;
}
#download {
    border: none;
}

#opcoes img {
    border-radius: 50%;
}

#opcoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    gap: 15px
}

#opcoes button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
}

#desc {
    margin-bottom: 200px;
    padding-bottom: 200px;
}

h3 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

#desc p {
    padding-top: 10px;
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    color: #515151;

}

#lateral {
    display: flex;
}

#lateral #videolateral h6 {
    font-size: 10px;
    font-weight: bold;
}

#lateral #videolateral #textolateral p {
    font-size: 10px;
    font-weight: normal;
}

#lateral #textolateral {
    display: flex;
    font-size: 10px;
    font-weight: normal;
    flex-direction: column;
    margin: 0px;
    padding: 2px 0px 10px 10px;
}

#lateral #videolateral {
    display: flex;
}


